*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;

}

body {
     
    font-family: 'League Spartan', sans-serif;
}

img {

    max-width: 100%;
}

.wrapper {
    max-width: 1920px;
    margin-inline:auto ;

}

.box1 {
    min-height: 943px;
    background: #F8F8F8;

}

.container {
    max-width: 1137px;
    margin-inline: auto;
    padding: 0 20px;
}

.box1__container {
    display: flex;
    align-items: center;
    gap: 36px;

}

.box1-info {
    

}

.box1-info__mor {
    color: #161515;
    font-size: 24px;
    font-weight: 300;
    line-height: 186%; 
    margin-bottom: 53px;
    display: inline-block;

}

.box1-info__title {
    color: #272727;
    font-size: 250px;
    font-weight: 300;
    margin-bottom: 28px;


}

.box1-info__desc {

    color: #161515;
    font-size: 32px;
    font-weight: 300;
    line-height: 155%; 
    max-width: 575px;
    margin-bottom: 61px;
}

.box1-bar {
    display: inline-flex;
    

}

.box1-bar__btn {

    display: inline-block;
    background:#161515;
    padding: 26px;
    min-width: 278px;
    font-family: 'League Spartan', sans-serif;
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
    text-align: center;


}

.box1-bar__cost {

    background: #FFF;
    box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
    font-family: 'League Spartan', sans-serif;
    padding: 26px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: #272727;



}

.box1-img {

    max-width: 408px;
    height: auto;

}

.box1-img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }




  .box2 {
    text-align: center;

  }

.box2__popular {

    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 186%; 

}

.box2__models {

    color: #000;
    text-align: center;
    font-size: 72px;
    font-weight: 400;
    line-height: 112.5%;
    margin-bottom: 84px;


}

.modelswatch {

    max-width: 532px;
    margin-inline: auto;
    margin-bottom: 85px;
   

}

.modelswatch-img {

    background: #F8F8F8;
    padding: 65px 105px ;
    margin-bottom: 67px;
    max-width: 417px;
    margin-inline: auto;

}

.model2-img {

    max-width: 496px;
 
 
 }

.model1-img {

    padding: 110px 65px;
}




.modelswatch__title {

    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 17px;

}

.modelswatch__desc {

    color:  #161515;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 155%; 
}

.product {

}

.product__title {

    display: inline-block;
    color:  #161515;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 186%;
    text-transform: capitalize;
    margin-bottom: 58px;
    position: relative;
}

.product__title::before {

    width: calc(100% - 72px);
    height: 1px;
    content: "";
    display: block;
    background: #707070;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.product__desc {
    max-width: 520px;
    margin-inline: auto;
    color:  #161515;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 170%;
    margin-bottom: 142px;
}

.product__desc a {
    color: #BB8B5D;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 170%;
    text-decoration-line: underline;

}


@media screen and (max-width: 992px) {
    .box1 {
      padding: 50px 0;
      min-height: auto;
    }
    .box1__container {
      flex-direction: column-reverse;
    }
    .box1-info__title {
      font-size: 110px;
    }
  }
  @media screen and (max-width: 592px) {
    .box1-bar {
      flex-direction: column-reverse;
      display: flex;
    }
    .box1-img {
      height: 300px;
    }
    .box1-img img {
      height: 100%;
      object-fit: contain;
    }
  }
  
  @media screen and (max-width: 392px) {
    .welcome-info__desc,
    .watch__desc {
      font-size: 24px;
    }
    .watch__img {
      padding: 65px;
    }
  }